__pycache__/
*.py[cod]

venv/
.env
.env.*

.git
.gitignore

.pytest_cache
tests/

media/
test_media/
staticfiles/
uploads/
zips/

*/migrations/*.py[cod]

*.swp
.vscode/
.idea/

docker-compose.yml
docker-compose.override.yml
.deps/
