*.py[cod]
__pycache__/
*.egg-info/
*.egg
*.whl

venv/
.env/
.env.*

*.log
local_settings.py
db.sqlite3
/media/
test_media/
staticfiles/
uploads/
zips/
qr_codes/

*/migrations/*.py[cod]

.vscode/
.idea/

celerybeat-schedule

*.tar
docker-compose.override.yml

*_cache/
.coverage
htmlcov/

django-secret.yaml
*.env
!.env.example
