{% load static custom_filters %}
<!doctype html>
<html>

<head></head>

<body>
    <h2>Архив {{ archive.short_code }}</h2>
    <p>{{ archive.description }}</p>

    {% if not file_exists %}
    <p><em>Файл удалён</em></p>
    {% else %}
    <ul>
        {% for f in files %}
        <li>{{ f.file.name|basename }}</li>
        {% endfor %}
    </ul>
    {% if archive.password %}
    <form method="get" action="{% url 'download-file' archive.short_code %}">
        <input name="password" placeholder="Пароль">
        <button type="submit">Скачать</button>
    </form>
    {% else %}
    <a href="{% url 'download-file' archive.short_code %}" class="btn">Скачать</a>
    {% endif %}
    {% endif %}
</body>

</html>